{% extends 'layout.html.twig' %}

{% block body %}
<p>No tiene suficientes minutos disponibles</p>
<a href="{{ path('pack_index') }}" class="btn btn-primary" role="button">Comprar</a>
<a href="{{ path('movie_index') }}" class="btn btn-primary" role="button">Volver</a>
{% endblock %}